@import "leaflet/dist/leaflet.css";
@import "tailwindcss";

*{
    scroll-behavior:smooth;
}

html, body, #root {
    height: 100%;
    font-family: Inter, ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
}

.card {
    background: white;
    border-radius: 12px;
    box-shadow: 0 8px 24px rgba(16,24,40,0.08);
    border: 1px solid rgba(15,23,42,0.04);
}

.btn-primary {
    background: linear-gradient(90deg,#4f46e5,#06b6d4);
    color: white;
    padding: 0.6rem 1rem;
    border-radius: 10px;
}

.muted { color: #6b7280 }

.leaflet-container {
    height: 100%;
    width: 100%;
}@import "leaflet/dist/leaflet.css";
@import "tailwindcss";

*{
    scroll-behavior:smooth;
}

html, body, #root {
    height: 100%;
    font-family: Inter, ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
}

.card {
    background: white;
    border-radius: 12px;
    box-shadow: 0 8px 24px rgba(16,24,40,0.08);
    border: 1px solid rgba(15,23,42,0.04);
}

.btn-primary {
    background: linear-gradient(90deg,#4f46e5,#06b6d4);
    color: white;
    padding: 0.6rem 1rem;
    border-radius: 10px;
}

.muted { color: #6b7280 }

.leaflet-container {
    height: 100%;
    width: 100%;
}